*.gem
*.rbc
.bundle
.config
coverage
internal-docs
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# rake, rspec, yard
doc
coverage
pkg

# yard
.yardoc

# idea
.rakeTasks
spec/coverage
.idea/

# osx
.DS_Store

# jekyll
_site

.sass-cache
chromedriver.log

bower_components
node_modules
